{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/admin_dashboard.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/themes.css' %}" />
        <script src="{% static 'main/js/admin_dashboard.js' %}"></script>
        <script src="{% static 'main/js/dashboard.js' %}"></script>
        <script src="{% static 'main/js/theme.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.css" />
    </head>
    <body>
        <aside class="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'index' %}">
                    <div class="logo">
                        <i class="fas fa-utensils"></i>
                        <span>Школьная Столовая</span>
                    </div>
                </a>
                <button class="sidebar-toggle">
                <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="user-info">
                <div class="avatar">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div class="user-details">
                    <h3>{{ user.username }}</h3>
                    <p class="user-role">Роль пользователя:</p>
                    <p class="user-role">{{ user.profile.role }}</p>
                </div>
                <div class="theme-toggle" style="margin-top: 15px">
                    <label class="theme-switch">
                    <input type="checkbox" id="themeToggle" />
                    <span class="theme-slider"></span>
                    </label>
                </div>
            </div>
            <nav class="sidebar-menu">
                <a href="{% url 'admin_home_page' %}" {% if request.resolver_match.url_name == 'admin_home_page' %}class="active"{% endif %}>
                <i class="fas fa-tachometer-alt"></i>
                <span>Дашборд</span>
                </a>
                <a href="{% url 'admin_statistics' %}" {% if request.resolver_match.url_name == 'admin_statistics' %}class="active"{% endif %}>
                <i class="fas fa-chart-line"></i>
                <span>Статистика</span>
                </a>
                <a href="{% url 'admin_buys' %}" {% if request.resolver_match.url_name == 'admin_buys' %}class="active"{% endif %}>
                <i class="fas fa-shopping-cart"></i>
                <span>Закупки</span>
                <span class="badge badge-pending">{{ pending_count }}</span>
                </a>
                <a href="{% url 'admin_users_statistics' %}" {% if request.resolver_match.url_name == 'admin_users_statistics' %}class="active"{% endif %}>
                <i class="fas fa-users"></i>
                <span>Пользователи</span>
                </a>
                <a href="{% url 'admin_card_edit' %}" {% if request.resolver_match.url_name == 'admin_card_edit' %}class="active"{% endif %}>
                <i class="fas fa-utensils"></i>
                <span>Меню</span>
                </a>
                <a href="{% url 'admin_finance' %}" {% if request.resolver_match.url_name == 'admin_finance' %}class="active"{% endif %}>
                <i class="fas fa-file-invoice-dollar"></i>
                <span>Финансы</span>
                </a>
                <a href="{% url 'admin_settings' %}" {% if request.resolver_match.url_name == 'admin_settings' %}class="active"{% endif %}>
                <i class="fas fa-cog"></i>
                <span>Настройки</span>
                </a>
            </nav>
            <div class="sidebar-footer">
                <a href="{% url 'logout' %}" class="btn-logout">
                <i class="fas fa-sign-out-alt"></i>
                <span>Выйти</span>
                </a>
            </div>
        </aside>
        <main class="main-content">{% block body %} {% endblock %}</main>
        <div id="themeData" data-theme="light" style="display: none"></div>
    </body>
</html>