{% extends 'main/admin_dashboard/admin_base.html' %}
{% load static %}
{% block title %}Панель администратора{% endblock %}
{% block body %}
<div class="stat">
    <header class="top-bar">
        <div class="top-bar-left">
            <h1>Доброй день, {{ user.username }}!</h1>
            <p>Сегодня: <span id="currentDate">Загрузка...</span></p>
        </div>
        <div class="top-bar-right">
            <div class="notification-bell">
                <i class="fas fa-bell"></i>
                <span class="badge">8</span>
            </div>
            <div class="system-status">
                <span class="status-indicator active"></span>
                <span>Система активна</span>
            </div>
        </div>
    </header>
    <section class="dashboard-cards">
        <div class="card">
            <div class="card-icon bg-purple">
                <i class="fas fa-users"></i>
            </div>
            <div class="card-content">
                <h3>Количество студентов</h3>
                <h2 class="display-5 fw-bold text-primary">{{ student_count }}</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-icon bg-blue-buys">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="card-content">
                <h3>Запросы на закупку</h3>
                <p class="card-value">{{ pending_count }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-icon bg-green">
                <i class="fas fa-money-bill-wave"></i>
            </div>
            <div class="card-content">
                <h3>Выручка сегодня</h3>
                <p class="card-value">{{ revenue_today }} ₽</p>
                <a href="{% url 'admin_finance' %}">Подробнее</a>
            </div>
        </div>
        <div class="card">
            <div class="card-icon bg-orange">
                <i class="fas fa-utensil-spoon"></i>
            </div>
            <div class="card-content">
                <h3>Заказов сегодня</h3>
                <p class="card-value">{{ total_ordered_today }}</p>
                <p class="card-desc"> Завтраков: {{ breakfast_today }} </p>
                <p class="card-desc"> Обедов: {{ lunch_today }}</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}